body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: pink;
}
div {
    border: 5px solid gray;
    top: 10px;
    margin: auto;
    width: 600px;
    background-color: white;
}
p {
    position: relative;
    left: 5px;
}
h1 {
    text-align: center;
    left: 200px;
}